main.container {
    max-width: 48rem;
    margin: 4rem auto;
    text-align: center;
}

footer.container {
    max-width: 48rem;
    margin: 2rem auto;
    text-align: center;
    font-size: 0.85rem;
    color: var(--pico-muted-color);
}
